---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: '4'
TabWidth: '4'
ColumnLimit: 120

AccessModifierOffset: -4

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true

BinPackArguments: false
BinPackParameters: false

BreakBeforeBraces: Allman

# InsertBraces: true # v15. In earlier versions use clang-tidy
...
